<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Checkout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Checkout of Renting <span th:text="${renting.reference}">2</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/rentacars/{code}/vehicles/{plate}/rentings(code=${renting.rentACarCode},plate=${renting.plate})}">Rentings</a>
		<br/>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/rentacars/{code}/vehicles/{plate}/rentings/{reference}(code=${renting.rentACarCode},plate=${renting.plate},reference=${renting.reference})}" th:object="${renting}" method="post">
			<label>Kilometers:</label> <input class="form-control" type="text" th:field="*{kilometers}" />
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>	
	</div>
</body>
</html>